.introduction__container{
    padding: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #dde4eb;
}

.nav__container{
    z-index: 5;
    position: fixed;
    height: 6%;
    display: flex;
    top: 0;
    background-color: var(--color-primary-dark);
    width: 100%;
    justify-content: space-evenly;
}

.nav__container a{
    text-decoration: none;
}

.nav__container h4:hover{
    color: aliceblue;
}

.introduction__container > h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary-dark)
}


.introduction__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}



.info__container{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 2rem;
}

.info__content{
    width: 45%;
    margin: 5% auto;
    border: 1px solid transparent;
    border-radius: 1rem;
    background:linear-gradient(60deg, #659999, #989c9d);
}

.info__content>p{
    margin: 1rem;
    color: rgb(30, 41, 61);
}

.info__title{
    display: flex;
    justify-content: center;
}

.info__title > svg{
    height: 40px;
    width: 40px;
    padding-right: 1rem;
}

.stepper__container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stepper__container > h3{
    margin-bottom: 2rem;
    color:var(--color-primary-dark)
}

/* ========= Small Device =========== */

@media screen and (max-width: 700px){
    .nav__container{
        position: fixed;
        text-align: center;
        width: 90%;
    }

    .nav__container h4{
        
        font-size: 15px;

    } 
    .info__container{
        display: block;
        text-align: left;
        width: 80%;
    }

    .info__content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

    }

    .stepper__container{
        width: 90%;
        text-align: center;

    }

    .introduction__container{
        padding-top: 5%;
        margin-top: 5%;
    }
    .introduction__content{
        width: 100%;
        
    }

}
