@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400&display=swap');
* {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  border: 0; /* 佔據空間 */
  outline: 0; /* 不佔據空間 */
}


:root{
  --color-primary: #f17d3a;
  --color-bg-variant: #bfc9d3;
  --color-primary-variant: #959799;
  --color-primary-dark: #315050;

}

html{
  scroll-behavior: smooth;
  background-color: var(--color-primary-dark);
}

h1{
  font-size: 80px;
  color: var(--color-primary);
}

h2{
  font-size: 60px;
  color: var(--color-primary);
}

h3{
  font-size: 40px;
  color: var(--color-bg-variant);
}

h4{
  font-size: 30px;
  color: var(--color-bg-variant);
}


h5{
  font-size: 25px;
  color: var(--color-bg-dark)
}
p{
  font-size: 20px;
  color: var(--color-bg-variant);
  text-align: left;
}


.btn{
  border: 2px var(--color-primary) solid;
  border-radius: 5px;
}


/* ============== Small Device ============= */

@media screen and (max-width:700px) {
  
  }